name: Nightly build

on:
  push:
    branches: master
  #schedule:
  #  - cron: "0 1 * * *"

jobs:

  dockerfile-lint:
    runs-on: ubuntu-latest

    container:
      image: hadolint/hadolint:latest-debian

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Linting
        run: |
          hadolint generic/Dockerfile
          hadolint generic/Dockerfile.legacy.catkin
          hadolint generic/Dockerfile.legacy.colcon
          hadolint generic/Dockerfile.base
          hadolint generic/Dockerfile.cuda.kinetic
          hadolint generic/Dockerfile.cuda.melodic
          hadolint crossbuild/Dockerfile.kinetic-crossbuild
          hadolint crossbuild/Dockerfile.kinetic-crossbuild-driveworks
          hadolint crossbuild/Dockerfile.melodic-crossbuild
          hadolint crossbuild/Dockerfile.melodic-crossbuild-driveworks

  build-base:
    needs: dockerfile-lint

    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: autoware_github_actions
      ROS_DISTRO: melodic
      TAG_PREFIX: bleedingedge
      VERSION: master

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Prep
        run: |
          docker login -u ${{ secrets.DKR_USR }} -p ${{ secrets.DKR_PASS }}
          #sed -i 's/\/bin\/bash/\/bin\/sh/g' generic/build.sh
          cd generic
          ./build.sh -b -c off -i ${{ secrets.DKR_USR }}/$IMAGE_NAME -r $ROS_DISTRO -t $TAG_PREFIX -v $VERSION
          docker push ${{ secrets.DKR_USR }}/$IMAGE_NAME:$TAG_PREFIX-$ROS_DISTRO-base

  build-base-cuda:
    needs: dockerfile-lint

    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: autoware_github_actions
      ROS_DISTRO: melodic
      TAG_PREFIX: bleedingedge
      VERSION: master

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Prep
        run: |
          docker login -u ${{ secrets.DKR_USR }} -p ${{ secrets.DKR_PASS }}
          #sed -i 's/\/bin\/bash/\/bin\/sh/g' generic/build.sh
          cd generic
          ./build.sh -b -i ${{ secrets.DKR_USR }}/$IMAGE_NAME -r $ROS_DISTRO -t $TAG_PREFIX -v $VERSION
          docker push ${{ secrets.DKR_USR }}/$IMAGE_NAME:$TAG_PREFIX-$ROS_DISTRO-base-cuda

  build-aarch64-cross:
    needs: dockerfile-lint

    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: autoware_github_actions
      DOCKER_ARCH: arm64v8
      TARGET_ARCH: aarch64
      TARGET_PLATFORM: generic-aarch64
      ROS_DISTRO: melodic
      TAG_SUFFIX: bleedingedge
      VERSION: master

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Prep
        run: |
          docker login -u ${{ secrets.DKR_USR }} -p ${{ secrets.DKR_PASS }}
          #sed -i 's/\/bin\/bash/\/bin\/sh/g' crossbuild/build_cross_image.sh
          cd crossbuild
          ./build_cross_image.sh -p $TARGET_PLATFORM -r $ROS_DISTRO -t $TAG_SUFFIX
          docker tag autoware/build:$TARGET_PLATFORM-$ROS_DISTRO-$TAG_SUFFIX ${{ secrets.DKR_USR }}/$IMAGE_NAME:$TARGET_PLATFORM-$ROS_DISTRO-$TAG_SUFFIX
          docker push ${{ secrets.DKR_USR }}/$IMAGE_NAME:$TARGET_PLATFORM-$ROS_DISTRO-$TAG_SUFFIX
